<div>
    
<div *ngFor="let videoCourse of video_course">
     <!-- <img style="height: 70%;" src="https://udemy-images.udemy.com/notices/featured_banner/image/bbcb00f3-4d23-4b28-870e-d46a7290cc8a.jpg" alt="Promotional image"> -->
    <div class="row" style=" margin-top:4.5%; min-height: 300px;  background: url('https://udemy-images.udemy.com/notices/featured_banner/image/bbcb00f3-4d23-4b28-870e-d46a7290cc8a.jpg') ">
        <div class="col-md-12">
                <div class="row" style="max-height: 300px;">
                        <div class="col-md-1"></div>
                        <div class="col-md-7" >
                            <div class="row">
                                    <div  style="color: white; position: absolute; bottom: 0;">
                                            <h1 >{{videoCourse.name}}</h1> 
                                            <!-- <h3>{{videoCourse.price}}</h3> 
                                            <h3>{{videoCourse.video_description}}</h3> -->
                                        </div>
                            </div>
                                
                        </div>
                        <div class="col-md-3">                
                            <!-- <iframe height="300px;" width="100%" src="https://www.youtube.com/embed/yb-aA2LseHk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                            <video width="320" height="240" controls>
                                <source src={{path}}  type="video/mp4">
                            </video>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
        </div>
                    
    </div>
    <div class="row">
        <div class="col-md-8" style="margin-top: 50px;">
                <div class="row" >
                        <div class="col-md-12">
                            <div class="card card-default " style="width: 100%;" >
                                <div class="card-header" style="background-color: orange;">
                                    <i class="fa fa-clock-o fa-fw"></i> Details
                                </div>
                                <div style="background-color: powderblue; height: 450px;">
                                    <h1 style="margin-top: 10%; text-align: center; font-weight: bolder;"> {{videoCourse.description}}</h1>
                                </div>
                            </div>
                        </div>
                       
                    </div>
        </div>
        <div class="col-md-3">
                <div class="card card-default mb-3" style="background-color: mediumturquoise;">
                        <div class="card-header" style=" margin-left: 1%; background-color: orange; ">
                            <i class="fa fa-bell fa-fw"></i > Notifications 
                        </div>
        
                        <div>
                            <div class="row container">
                                <h3 style="font-weight: bold">{{videoCourse.final_amount}}</h3>
                                <h3  style="word-spacing: 15px; color: red;"><strike>  {{videoCourse.price}}</strike></h3>
                                <h4 style="font-weight: bold" > {{[videoCourse.discount/videoCourse.price]*100}}% off</h4>
                            </div>
                          <div class="fa fa-clock-o" style="color: red;"> 2 days left at this price</div>
                                <span class="float " style="margin-top: 9%;">
                                    <button type="button" style="background-color: red;" class="btn blue-gradient btn-block btn-rounded z-depth-1a waves-light " (click)="payment()" mdbWavesEffect>Buy Now</button>
                                </span>
                                
                                <p class="container">30 Days Money Back Guarantee</p>
        
                                <h2>Includes:</h2>
                                <div class="fa fa-bell"> 4 hours on-demand video</div>
                                <div class="fa fa-bell"> 1 Supplemental Resource</div>
                                <div class="fa fa-bell"> Full lifetime access</div>
                                <div class="fa fa-bell"> Access on mobile and TV</div>
                                <hr  />                        
                                <h2 class="container" style="font-weight: bold;">Share Via:</h2>
                                    <div class="row container">
                                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                                        <a class="nav-link"><i class="fa fa-instagram"></i></a>
                                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                                    </div>                    
                        </div> 
                    </div>
        </div>
        <div class="col-md-1"></div>
    </div> 
  </div>
</div>