<div style="height: 100%; margin-top: 10%; ">
    <section id="not-found">
      <div id="title">Simple Pure CSS3 &bull; 404 Error Page</div>
      <div class="circles blue " >
        <p>404<br>
         <small>PAGE NOT FOUND</small>
        </p>
        <span class="circle big red"></span>
        <span class="circle med yellow"></span>
        <span class="circle small white"></span>
        <div class="text-center">
            <button routerLink="home" class="btn btn-red waves-light" mdbWavesEffect>Home</button> 
        </div>
      </div>
      
    </section>

   
   
  </div>
  