


<!--Main Navigation-->
<header>
  <!--Intro Section-->
  <section class="view intro-2">
      <div class="full-bg-img mask rgba-gradient">
          <div class="container flex-center">
              <div class="d-flex align-items-center content-height w-100">
                  <div class="row flex-center pt-5 mt-3 w-100">
                      <div class="col-md-6 col-xl-5 offset-xl-1">

                          <!--Form-->
                          <div class="card wow fadeInRight" data-wow-delay="0.3s">
                              <div class="card-body">
                                  <!--Header-->
                                  <div class="text-center">
                                      <h3 class="white-text"><i class="fa fa-user white-text"></i> Add Faculty:</h3>
                                      <hr class="hr-light">
                                  </div>

                                  <!--Body-->
                                  <div class="md-form">
                                      <i class="fa fa-user prefix white-text"></i>
                                      <input type="text" id="form3" class="form-control text_change" [(ngModel)]="name" mdbInputDirective>
                                      <label for="form3"> Name</label>
                                  </div>


                                  <div class="md-form">
                                      <i class="fa fa-envelope prefix white-text"></i>
                                      <input type="text" id="form2 " class="form-control text_change" [(ngModel)]="qualification" mdbInputDirective>
                                      <label for="form2">Qualification</label>
                                  </div>



                                  



                                   <!-- <div class="md-form">
                                        <i class="fa fa-envelope prefix white-text"></i>
                                        <input type="text" id="form2" class="form-control" [(ngModel)]="price" mdbInputDirective>
                                        <label for="form2">Price</label>
                                    </div>

                                   <div class="md-form">
                                            <i class="fa fa-envelope prefix white-text"></i>
                                            <input type="text" id="form2" class="form-control" [(ngModel)]="discount" mdbInputDirective>
                                            <label for="form2">Discount</label>
                                     </div>

                                  <div class="md-form">
                                      <i class="fa fa-lock prefix white-text"></i>
                                      <input type="date" id="form4" class="form-control text_change" [(ngModel)]="discount_till" mdbInputDirective>
                                  </div>
                                  <select [(ngModel)] ="type" (change)="goChange(type)"> 
                                    <option>video</option>
                                    <option>text</option>
                                    <option>sample papers</option>
                                        
                                </select>

                                  <div class="text-center">
                                      <button class="btn btn-indigo waves-light" (click)="tutorial()" mdbWavesEffect>Add</button>
                                      <input id="photo" type="file" />
                                      <button class="btn btn-indigo waves-light" id="video_upload" (click)="upload()" mdbWavesEffect>video</button>
                                       <hr class="hr-light mb-3 mt-4">

       
                                  </div> -->
                              </div>
                          </div>
                          <!--/.Form-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</header>
<!--Main Navigation-->