<div style="position: relative;min-height: 900px;overflow-y:hidden;" >
    <div style="position: absolute;top: 0%;">
        <div *ngIf= "isAdmin; then AdminTemplate else UserTemplate">Admin</div>
        <ng-template #AdminTemplate>

        <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark orange scrolling-navbar ie-nav" [containerInside]="false">
  
     <logo>
        <a class="logo navbar-brand" routerLink="not-found"><strong>Admin</strong></a>
    </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item  waves-light" mdbWavesEffect>
              <a routerLinkActive="active1" routerLink="Admin-dashboard" class="nav-link">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLink="admin-add-subject"   class="nav-link">Add Subject</a>
        </li> -->
        <!-- <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLinkActive="active1" routerLink="add-faculty"   class="nav-link">Add Faculty</a>
        </li> -->
        <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLinkActive="active1" routerLink="news-events"   class="nav-link">Add news and events</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLinkActive="active1" routerLink="category"   class="nav-link">Add category</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLinkActive="active1" routerLink="tutorial"   class="nav-link">Add Video Course</a>
        </li>

<!-- 
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLinkActive="active1" routerLink="admin-add-course"  class="nav-link">Add Course</a>
          </li> -->
      </ul>

      <ul class="navbar-nav nav-flex-icons">
          <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLinkActive="active1" class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li> -->
          <li class="nav-item waves-light" mdbWavesEffect>
                <a   class="nav-link" (click)="logout()">Log out</a>
              <!-- <a class="nav-link"><i class="fa fa-instagram"></i></a> -->
          </li>
      </ul>
  </links>
</mdb-navbar>
</ng-template>



<ng-template #UserTemplate>
    <div *ngIf= "isUser; then User else guestTemplate">Admin</div>
    <ng-template #guestTemplate>
        <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar " [containerInside]="false">
  
        <logo>
            <img src="assets/logo.png" >
  <!-- <a class="logo navbar-brand" routerLink="admin-dashboard"><strong>PROJECT NAME guest</strong></a> -->
</logo>
<links>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item  waves-light" mdbWavesEffect>
          <a routerLinkActive="active1" routerLink="home" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a routerLinkActive="active1" routerLink="about-us" class="nav-link">About Us</a>
    </li>
    <!-- multi drop down start here -->
    <ul class="top-level-menu">
        <li>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" style="color: aliceblue;" mdbWavesEffect>Course</a>
            <ul class="second-level-menu">
                <li>
                        <a class="dropdown-item waves-light" mdbWavesEffect *ngFor = "let course of course" [ngValue]="course.cid" (mouseover)="getList(course.cid)" >{{course.name}}</a>
                    <ul class="third-level-menu">
                        <li><a class="dropdown-item waves-light" mdbWavesEffect *ngFor = "let list of list" [ngValue] = "list.cid" routerLink="['/textCourse',list.name]"  (click) = "goToCourse(list.cid)">{{list.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </li>
      </ul>
    <!-- multi drop down end here -->



    <!-- <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        Course<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu"  >
                <a class="dropdown-item waves-light" mdbWavesEffect *ngFor = "let course of course" [ngValue] = "course.cid" routerLink="['/textCourse',course.name]"  (click) = "goToCourse(course.cid)">{{course.name}}</a>
            
        </div>

    </li> -->
      <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLinkActive="active1" routerLink="features" class="nav-link">Features</a>
      </li>

      <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLinkActive="active1" routerLink="contact-us" class="nav-link">Contact Us</a>
      </li>

      <li class="nav-item waves-light" mdbWavesEffect>
        <a routerLinkActive="active1" routerLink="signin" class="nav-link">Sign In</a>
        </li>

     
    <!-- <li class="nav-item waves-light" mdbWavesEffect>
        <a routerLinkActive="active1"  routerLink="User-Dashboard" class="nav-link">User Dashboard</a>      
    </li>
   
    <li class="nav-item waves-light" mdbWavesEffect>
        <a routerLinkActive="active1"  routerLink="video-course-description" class="nav-link">Video Course Desc</a>      
    </li> -->
  </ul>

  <!-- <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLinkActive="active1" class="nav-link"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-instagram"></i></a>
      </li>
  </ul> -->
</links>
</mdb-navbar>
</ng-template>
<ng-template #User>
        <mdb-navbar SideClass=" navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar ie-nav" [containerInside]="fa">
  
                <logo>
          <a class="logo navbar-brand" routerLink="admin-dashboard"><strong> NAME</strong></a>
        </logo>
        <links>
          <ul class="navbar-nav mr-auto">
              <li class=" active " mdbWavesEffect>
                  <a routerLinkActive="active1" routerLink="User-Dashboard" class="nav-link">Home <span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item waves-light" mdbWavesEffect>
                <a routerLink="about-us" class="nav-link">About Us</a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Course<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu"  >
                        <a class="dropdown-item waves-light" mdbWavesEffect *ngFor = "let course of course" >{{course.cid}}</a>
                   
                </div>
            </li> -->

              <!-- <li class="nav-item waves-light" mdbWavesEffect>
                  <a routerLink="features" class="nav-link">Features</a>
              </li>
        
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a routerLink="contact-us" class="nav-link">Contact Us</a>
              </li>
        
              <li class="nav-item waves-light" mdbWavesEffect>
                <a routerLink="signin" class="nav-link">Sign In</a>
                </li> -->
        
             
            <!-- <li class="nav-item waves-light" mdbWavesEffect>
                <a  routerLink="User-Dashboard" class="nav-link">User Dashboard</a>      
            </li>
           
            <li class="nav-item waves-light" mdbWavesEffect>
                <a  routerLink="video-course-description" class="nav-link">Video Course Desc</a>      
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a  routerLink="textCourse" class="nav-link">Text Course Desc</a>      
            </li> -->
        
          </ul>
        
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a routerLinkActive="active1"   class="nav-link" (click)="logout()">Log out</a>
          </li>
          <li >
          <div class="user-avatar__inner fx-c white-text">
                <span class="user-initials ">{{currentUser}}</span>
            </div>
        </li>
          </ul>
        </links>
        </mdb-navbar>
 </ng-template>
</ng-template>

</div>

<router-outlet></router-outlet>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div style="position: absolute;bottom: 0;height:400px;width:100%">
<footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4 footer_ang serve rea">

  <div class="container">
      <div class="row">

          <div class="col-md-3 offset-md-1">
              <h5 class="title">COMPANY NAME</h5>
              <p>  It has survived not only five centuries, </p>
          </div>

          <hr class="hidden-md-up">

          <div class="col-md-2 offset-md-1">
              <h5 class="title">LINKS NAME</h5>
              <ul class="list-unstyled">
                  <li><a href="#!">Link 1</a>  </li>
                  <li> <a href="#!">Link 2</a>   </li>
                  <li><a href="#!">Link 3</a>   </li>
                  <li> <a href="#!">Link 4</a>   </li>
              </ul>
          </div>

          <hr class="hidden-md-up">

          <div class="col-md-2">
              <h5 class="title">LINKS NAME</h5>
              <ul class="list-unstyled">
                  <li> <a href="#!">Link 1</a>  </li>
                  <li> <a href="#!">Link 2</a>  </li>
                  <li> <a href="#!">Link 3</a>   </li>
                  <li><a href="#!">Link 4</a>   </li>
              </ul>
          </div>

          <hr class="hidden-md-up">

          <div class="col-md-2">
              <h5 class="title">LINKS NAME</h5>
              <ul class="list-unstyled">
                  <li><a href="#!">Link 1</a></li>
                 
                  <li> <a href="#!">Link 2</a> </li>
                  <li><a href="#!">Link 3</a> </li>
                  <li><a href="#!">Link 4</a> </li>
              </ul>
          </div>
      </div>
  </div>
  <hr>

  <div class="call-to-action text-center py-3">
      <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
              <a routerLink="signin" class="btn btn-danger waves-light btn-rounded" mdbWavesEffect>Sigin</a>
          </li>
          <li class="list-inline-item">
              <a routerLink="contact-us" class="btn btn-danger waves-light btn-rounded" mdbWavesEffect>ENQUIRY!</a>
          </li>
      </ul>
  </div>
  <hr>

  <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
          © 2018 Copyright:
          <a href="#"> Team MPV</a>

      </div>
  </div>

</footer> 
</div>
</div>



























