
element.style {
    margin-top: 20px;
}
.styles--container--2pQbH {
    margin: 0 auto;
}

.styles--container--2pQbH {
    width: 750px;
}
.styles--container--2pQbH {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
}