
<!--Intro Section-->
<!-- <section class="view intro-2 rgba-gradient" style="height:100%;">
  <div class="full-bg-img mask">
      <div class="container flex-center">
          <div class="row flex-center pt-5 mt-3 w-100">
              <div class="col-md-6 text-center text-md-left margins">
                  <div class="white-text">
                      <h2 class="h1 h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Education App </h2>
                          <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                          <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Education app is to simplify the life of institution administrators and teachers so that they can focus on the most important thing: educating our children. We are bridging the digital divide in education by offering Fedena Core as open source and selling premium product and services at affordable pricing. Fedena is an all-in-one software to manage schools and colleges. It has everything your institution will ever need. Gradebook, parent teacher collaboration, attendance, fee management and 50+ feature rich modules. Automate everything, generate insightful reports, make better decisions.</h6>
                          <br>
                          <a class="btn btn-outline-white wow fadeInLeft waves-light"  data-wow-delay="0.3s" mdbWavesEffect mdbPageScroll href="#about">Read More</a>
                          <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Download
                              <i class="fa fa-android left right" aria-hidden="true"></i>
                              <i class="fa fa-apple left" aria-hidden="true"></i>
                              <i class="fa fa-windows" aria-hidden="true"></i>
                          </a>
                  </div>
              </div>

              <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                  <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="img-responsive">
              </div>
          </div>
      </div>
  </div>
</section>
<section>
    <div>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/yb-aA2LseHk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</section> -->


<!-- <div id="slider" style="margin-top: 4.5%;">
    <figure>
        <img src="assets/p5.jpg" height="500px"/>
        <img src="assets/p4.jpg" height="500px"/>
        <img src="assets/p3.jpg" height="500px"/>
        <img src="assets/p2.jpg" height="500px"/>
        <img src="assets/p1.jpg" height="500px"/>

       
    
    </figure>

    <div style="background-color: #424242; margin-top:33%;" >
            <h1>hgftgyhujikopljihu</h1>
    
        </div>
    
    </div> -->




    <div style="background-color: aqua;" > 

            <div class='csslider1 autoplay ' style="margin-top: 5%;" >
                    <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
                    <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
                    <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
                    <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
                    <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' >
                    <ul>
                      <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;height: 450px">
                      </div>
                      <li class='num0 img'>
                         <a><img src='assets/p1.jpg' alt='Buns' title='Buns' /> </a> 
                      </li>
                      <li class='num1 img'>
                         <a><img src='assets/p2.jpg' alt='Croissant' title='Croissant' /> </a> 
                      </li>
                      <li class='num2 img'>
                         <a><img src='assets/p3.jpg' alt='Lemon pie' title='Lemon pie' /> </a> 
                      </li>
                    
                    </ul>
                    <!-- <div class='cs_description'>
                      <label class='num0'>
                        <span class="cs_title"><span class="cs_wrapper">Buns</span></span>
                      </label>
                      <label class='num1'>
                        <span class="cs_title"><span class="cs_wrapper">Croissant</span></span>
                      </label>
                      <label class='num2'>
                        <span class="cs_title"><span class="cs_wrapper">Lemon pie</span></span>
                      </label>
                    </div> -->
                    
                    <div class='cs_arrowprev'><i class="fa fa-twitter"></i>
                      <label class='num0' for='cs_slide1_0'></label>
                      <label class='num1' for='cs_slide1_1'></label>
                      <label class='num2' for='cs_slide1_2'></label>
                    </div>
                    <div class='cs_arrownext'>
                      <label class='num0' for='cs_slide1_0'></label>
                      <label class='num1' for='cs_slide1_1'></label>
                      <label class='num2' for='cs_slide1_2'></label>
                    </div>
                    
                    <div class='cs_bullets'>
                      <label class='num0' for='cs_slide1_0'>
                        <span class='cs_point'></span>
                        <span class='cs_thumb'><img src='assets/p1.jpg' alt='Buns' title='Buns' style="width: 100%; height: 100%; margin-top: -40%;" /></span>
                      </label>
                      <label class='num1' for='cs_slide1_1'>
                        <span class='cs_point'></span>
                        <span class='cs_thumb'><img src='assets/p2.jpg' alt='Croissant' title='Croissant' style="width: 100%; margin-top: -40%;" /></span>
                      </label>
                      <label class='num2' for='cs_slide1_2'>
                        <span class='cs_point'></span>
                        <span class='cs_thumb'><img src='assets/p3.jpg' alt='Lemon pie' title='Lemon pie' style="width: 100%; margin-top: -40%;" /></span>
                      </label>
                    </div>
                    </div>
                
            
           
              
                   
      <!-- <div id="slider" style="margin-top: 4.5%;">
              <figure>
                  <img src="assets/p5.jpg" height="500px"/>
                  <img src="assets/p4.jpg" height="500px"/>
                  <img src="assets/p3.jpg" height="500px"/>
                  <img src="assets/p2.jpg" height="500px"/>
                  <img src="assets/p1.jpg" height="500px"/>
          
                 
              
              </figure>
              </div> -->

          <section class="bg-sec-top" style=" background-color: red;" > 
              <div class="container p-tb-20">
                   <div class="row" style="color: black; font-weight: bold;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 3%;" > 
                            <div class="top-heading"> 
                                <h4>1000+</h4> 
                                <p>Students</p> 
                              </div> 
                          </div> 
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"  style="margin-top: 3%;"> 
                              <div class="top-heading"> 
                                  <h4> 15 +</h4> 
                                  <p>Courses</p> 
                              </div> 
                          </div> 
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"  style="margin-top: 3%;"> 
                              <div class="top-heading"> 
                                  <h4>20+ </h4> 
                                  <p>Faculty</p> 
                              </div>
                           </div> 
                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"  style="margin-top: 3%;"> 
                               <div class="top-heading"> 
                                   <h4 class="fa fa-star" style="font-size: 25px; ">4.5</h4>
                                    <p>Average Rating</p>
                                   </div> 
                                  </div> 
                              </div> 
                          </div> 
                      </section> 
                  </div>


<div class="container">
<!-- Section: Blog v.1 -->
<section class="my-5">

<div class="container" style="margin-top: 6%;">


<div class="row about_row" id="about">
<div class="who_we_area col-md-7 col-sm-6">
<div class="subtittle">
<h2>ABOUT</h2>
</div>
<p>Education app is to simplify the life of institution administrators and teachers so that they can focus on the most important thing: educating our children. We are bridging the digital divide in education by offering Fedena Core as open source and selling premium product and services at affordable pricing.
Fedena is an all-in-one software to manage schools and colleges. It has everything your institution will ever need. Gradebook, parent teacher collaboration, attendance, fee management and 50+ feature rich modules. Automate everything, generate insightful reports, make better decisions.</p>
<a routerLink="../about-us" class="nav-link button_all">Read More</a>
</div>
<div class="col-md-5 col-sm-6 about_client" style="background-color: midnightblue;">
<!-- <img src="assets/cover6.png" alt="" style="width: 100%; height: 80%;"> -->
<div id="slideshow" style="height:5%; width: 5%;background-color: red;">
<div style="background-color: red;">
<img  src="assets/2.png">
</div>
<div >
<img  src="assets/4.png">
</div>
<div >
<img  src="assets/3.png">
</div>
</div>
</div>
</div>

</div>

</section>
<!-- Section: Blog v.1 -->



<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 news-inner-area"  style=" float: left;" >
<h2 class="title-default-left" style="background-color: palegreen;">News</h2>
<!-- <marquee id="Marquee1" direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="4" style="height: 315px;"> -->
<div style="background-color: oldlace; height: 320px;" *ngFor="let full_news of full_news ">
<div>
<h4>{{full_news.event_day}}</h4>
<h3 style="font-weight: bold; color: blue;">{{full_news.heading}}</h3>
<h4 style="font-weight: bold;" >{{full_news.short_heading}}</h4>
<h5>{{full_news.long_heading}}
</h5>
</div>

</div>
<!-- </marquee> -->

</div>


<!-- news and events -->

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 event-inner-area" style="float: right;">
<h2 class="title-default-left" style="background-color: mediumturquoise;">News and Events</h2>
<marquee id="Marquee2" direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="4" style="height: 315px;">
<div class="newsticker" *ngFor="let news of news">
<ul id="new_upcomming" class="event-wrapper">
<li class="wow1 bounceInUp" data-wow-duration="2s" data-wow-delay=".1s">
<div class="event-calender-wrapper">
<div class="event-calender-holder">
    <h6>{{news.event_day}}</h6>
  </div>
</div>
<div class="event-content-holder">
  <h3>{{news.heading}}</h3>
  <p><i><a runat="server" style="color: blue;" [ngValue] = "news.heading" (click) = "goToEvent(news.heading)">{{news.short_heading}}</a></i></p>
  <p><u><a runat="server" style="text-decoration:none;" [ngValue] = "news.heading" (click) = "goToEvent(news.heading)"> Read More</a></u></p>
</div>
</li>

  </ul>
</div>
</marquee>
<br>
</div>

<hr>
<div>
<br>
<br>
<hr>
<app-video-course></app-video-course>
</div>

<br>
<hr>








